<!DOCTYPE html>
<html lang="en">
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->

<head>

    <link href="stylesheet/index.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap"  rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{'text_tittle'}}</title>


</head>

<body>
    <header>
        <div>
            <div class="navbar-top">
                <div>
                    <a href=""><img class="logo" src="image/logo.png"></a>
                </div>

                <div class="city">
                    <a href=""><b>Санкт-Петербург</b></a>
                    <img src="image/arrow.png">
                </div>

                <div class="search">
                    <div><img src="image/search.png"></div>
                    <div><input type="text"></div>
                </div>

                <div class="tabs">
                    <button type="button"><img src="image/user.png"></button>
                    <button type="button"><img src="image/favorites.png"></button>
                    <button type="button"><img src="image/basket.png"></button>
                </div>
            </div>


            <div class="navbar-bottom">

                <div class="dropdown">
                    <p>{{'text_catalog'}}</p>
                    <img src="image/dropdawn.png">
                </div>

                <div class="tabs-bottom">
                    <ul>
                        <li><a href="#">{{'text_shipping_payment'}}</a></li>
                        <li><a href="#">{{'text_company'}}</a></li>
                        <li><a href="#">{{'text_contacts'}}</a></li>
                        <li><a href="#">{{'text_stock'}}</a></li>
                        <li><a href="#">{{'text_attractions'}}</a></li>
                    </ul>
                </div>
                <div class="number">
                   <b>{{'text_number'}}</b>
                </div>
            </div>

            
            <div class="mobile">
                <div class="mobile_top">
                    <div>
                        <a href=""><img class="logo" src="image/logo.png"></a>
                    </div>
                    <div class="number">
                        <b>{{'text_number'}}</b>
                     </div>
                </div>
                <div class="mobile_bottom">
                    <div class="dropdown">
                        <p>Каталог</p>
                        <img src="image/dropdawn.png">
                    </div>
                    <div class="tabs">
                        <button type="button"><img src="image/user.png"></button>
                        <button type="button"><img src="image/favorites.png"></button>
                        <button type="button"><img src="image/basket.png"></button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>